* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  background-color: #F79289;
  font-family: 'Inter', sans-serif;
}

.container{
  background-color: #1A1B21;
  max-width: 320px;
  width: 100%;
  margin: 20px auto;
  border: 1px solid #000;
  border-radius: 15px;
}

.header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img{
  width: 320px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

h3{
  color: #fff;
  margin-block: 20px 5px;
  font-size: 25px;
  font-weight: bold;
}

h4{
  color: #F3BF99;
  font-size: 12.8px;
}

a{
  color: #F5F5F5;
  text-decoration: none;
  margin-block: 10px;
  font-size: 10px;
}

button{
  width: 247px;
  height: 34px;
  border-radius: 5px;
  border: none;
  margin-block: 10px 20px;
  cursor: pointer;
}

main h2{
  color: #F5F5F5;
  margin-top: 30px;
  margin-bottom: 10px;
  
}

main {
  width: 247px;
  color: #DCDCDC;
  font-size: 10px;
  margin: 0 auto 40px;
}

footer{
  width: 319px;
  background-color: #161619;
  border-top: 1px solid #000;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

footer ul{
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 20px;
  gap: 20px;
}

ul li a{
  color: #918E9B;
  font-size: 38px;
  cursor: pointer;
}

button i{
  color: #374151;
  font-size: 14px;
  margin-right: 5px;
}

